.ProjectCard{
    background-color: var(--white);
    color: var(--black);
    width: 400px;
    height: 320px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    list-style: none;
    text-align: left;
    padding: 16px;
}
.ProjectCard li:nth-child(1){
    text-align: center;
    width: 368px;
}