.tasks-container {
  max-width: 100vw;
  min-height: calc(100vh - 106px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  padding: 0 20px;
  margin: 40px auto 0 auto;
}
.column-tasks-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
  background: var(--darkGrey);
  border-radius: 20px;
  margin-bottom: 10px;
}
.column-tasks-label {
  display: flex;
  padding: 0 0 10px 20px;
}
.column-tasks-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.row-task {
  margin: 0 20px;
  padding: 40px 20px;
  color: var(--darkGrey);
  background: var(--white);
  border-radius: 16px;
}
