.tasks-container {
  width: 100vw;
  height: calc(100vh - 56px - 3rem);
  display: flex;
  gap: 1rem;
  text-align: center;
  padding: 0 1rem;
  margin: 2rem auto 0 auto;
}
.column-tasks-container {
  display: flex;
  flex: 100%;
  flex-direction: column;
  gap: 1rem;
  color: var(--white);
  background: var(--darkGrey);
  border-radius: 1rem;
}
.column-tasks-label {
  display: flex;
  padding: 0 0 0.5rem 1rem;
}
.column-tasks-lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.row-task {
  margin: 0 1rem;
  padding: 2rem 1rem;
  color: var(--darkGrey);
  background: var(--white);
  border-radius: 0.7rem;
}
